.hidden {
  position: relative;
  left: -10000px;
  top: auto;
}

.hidden:focus {
  left: 0;
}

header {
  background-color: #2C9AB7;
  margin-bottom: .5rem;
}

h1 {
  color: #FFFFFF;
  font-family:sans-serif;
}

.white-text {
  color: #FFFFFF;
  font-family: sans-serif;
  font-style: italic;
}

.top-nav {
  height: 1rem;
  background-color: #EBEBEB;
  padding: 1rem;
  color: #393939;
  font-family: sans-serif;
  font-weight: bold;
}

.top-nav a {
	color: #393939;
	font-family: sans-serif;
  font-weight: bold;
	text-decoration: none;
  padding: .5rem;
  margin: .5rem;
}

.top-nav a:visited {
  color:#2C9AB7;
}

.top-nav a:hover {
  text-decoration: underline;
}
.left {
  float: left;
  width: 50%;
}

aside {
  margin-bottom: .5rem;
  display: block;
  float: right;
  width: 50%
}

.h3-light-blue-text {
  color:#2C9AB7;
  font-family: sans-serif;
}

h2 {
  font-family: sans-serif;
  color: #393939;
}

h3 {
  font-family: sans-serif;
  color: #393939
}

.side {
  font-family: sans-serif;
  color: #393939
}

.image1 {
  width: 30%;
  margin-bottom: .5rem;
}

figcaption {
  font-family: sans-serif;
  color: #393939
}

label, button, input, select, textarea {
  font-family: inherit;
  color: #393939;
  font-size: 100%;
  box-sizing: border-box;
  display: block;
  margin: 1rem;
}

input[type=submit] {
 background-color: #2C9AB7;
}

input {
  border-radius: 10px;
}

.one {
  font-family: sans-serif;
  color: #2C9AB7;
  text-decoration: none;
}

.grey-text {
  font-family: sans-serif;
  color: #393939;
}

.clearfix {
  padding: 1rem;
  background-color: #393939;
  color: #FFFFFF;
  text-align: center;
  clear: both;
  display: block;
}

.bottom-nav a {
  color: #FFFFFF;
  font-family: sans-serif;
  text-decoration: none;
  padding: .5rem;
  margin: .5rem;
  }

.bottom-nav a:visited {
  color: #2C9AB7;
}

.bottom-nav a:hover {
  text-decoration: underline;
}
